BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
IndentWidth: 4
ColumnLimit: 140
PointerAlignment: Left
SortIncludes: Never
PenaltyBreakAssignment: 1000
